#mainTitle {
    text-align: center;
    font-family: 'Arial','Helvetica Neue','Helvetica','sans-serif','italic';
}

.parallax {
    /* The image used */
    background-image: url("wiseTree.png");
  
    /* Set a specific height */
    min-height: 700px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }